
.nav_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  /* padding: 40px; */
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: 5px 5px 15px rgb(0 0 0 / 10%);
  /* border-bottom: 5px solid #1f8a5c; */
  align-items: center;
}

.logo {
  position: absolute;
  /* width: 149px; */
  /* height: 44px; */
  left: 135px;
  top: 8px;
}
