
.containerAll {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.container {
  
  display: flex;
  
}


.container_img {
  border-radius: 16px 0px 0px 16px;
}

.img {
  border-radius: 16px 16px 16px 16px;
  height: 500px;
}


.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: rgba(155, 150, 150, 0.63);
  backdrop-filter: blur(2px);
  border-radius: 16px;
  margin: 3%;
  padding: 3%;
}

.label {
  padding: 2px;
  text-align: center;
  font-family: "Questrial";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 20px;
  padding: 3%;
  color: black;
}

.labelPlatform {
  padding: 2px;
  
}

.description {
  padding-left: 55px;
  /* text-align: center; */
  font-family: "Questrial";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  /* line-height: 20px; */
  /* padding: 3%; */
  color: black;
}

.temlabel {
  margin-left: 20px;
  font-family: "Fredoka One";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
  color: #124c5f;
}
